.App {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height: 100vh;
  background-color: antiquewhite;
}


.container{
  display: flex;
  flex-direction: row;
  height: 42em;
  width:45em;
  flex-wrap: wrap;
  padding: 0;
}

.userContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 5em;
  margin-top: 5%;
}

.button{
  height: 3rem;
  width: 10rem;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 2rem;
}

.winner{
  color: red;
  font-size: 30px;
}

.restartButton{
  display: flex;
  height: 2rem;
  line-height: 2rem;
  width: 80%;
  align-items: center;
  justify-content: flex-start;
}
.popUpContainer{
  z-index: 1;
  position: absolute;
  height: 52rem;
  line-height: 50rem;
  width: 50rem;
  background-color: #fff;
  text-align: center;
  opacity: 1;
  
}
.box{
 align-items: center;
 justify-content: center;
 border: 1px solid #000; 
 height:14em;
 min-width: 14em;
 font-weight: bold;
 text-align: center;
 line-height: 14em;
}

